# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL="postgresql://alberto:MiCe879eZ1kgvxVEOGM57w@lying-hound-1284.g8x.cockroachlabs.cloud:26257/defaultdb?sslmode=verify-full"

# Admin Auth Mock
ADMIN_EMAIL=""
ADMIN_PASSWORD=""

# JWT
JWT_SECRET_KEY=""

# AWS S3
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""